<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{.CurrentState.DisplayOrName}} - FSE Workflow Item</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{{if not .TimerDeadline.IsZero}}
    <script>
var millis = new Date('{{.TimerDeadline.Local.Format "2006-01-02T15:04:05Z07:00"}}') - new Date();
if (millis < 1000) millis = 2500; // don't reload to quickly in a loop if the wf is behind schedule
window.setTimeout(() => window.location.reload(), 900 + millis);
    </script>
{{end}}
</head>

<body class="m-4">
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <a href="/" class="btn btn-primary">Home</a>                    
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">                
                {{if .CurrentState.Description}}
                {{markdown .CurrentState.Description}}
                {{else}}
                <h1>{{.CurrentState.DisplayOrName}}</h1>
                {{end}}

                <div class="text-info mt-3 d-none">
                    Type: <b>{{.Name}}</b>, 
                    ID: <b>{{.ID}}</b>, 
                    RunID: <b>{{.RunID}}</b>,
                    TaskQueue: <b>{{.TaskQueue}}</b>
                </div>
                
                <form action="/trigger" method="POST">
                    <input type="hidden" name="id" value="{{.ID}}"/>
                    {{range .Triggers -}}
                    <div class="mb-3 mt-3 bg-light border rounded p-3">
                        {{markdown .Description}}
                        <button class="btn btn-small btn-secondary mr-2 mt-2 text-left" style="min-width: 20rem;" type="submit" name="trigger" value="{{.Name}}">{{.DisplayOrName}}</button>
                    </div>
                    {{end -}}
                </form>

                {{if not .Idle}}
                <div class="bg-warning text-white p-1 pl-3 pr-3 mb-3 mt-3">Currently in action!</div>
                {{end}}
                
                {{if not .TimerDeadline.IsZero}}
                <div class="bg-info text-white p-1 pl-3 pr-3 mb-3 mt-3">Nächste automatische Aktion: {{.TimerDeadline | dt }}</div>
                {{end}}
            </div>

            <div class="col">
                <h1>{{.DisplayOrName}} ({{.Name}})</h1>
                {{markdown .Description}}

                <h2 class="mt-3">Environment</h2>
                {{range $k, $v := .Environment -}}
                <div>{{$k}} = {{$v}}</div>
                {{end -}}                    
            </div>
        </div>

    </div>
</body>

</html>